.chartcontainer {
  border-radius: 5px;
  background-color: var(--primary);
  padding: 20px;
}

h3 {
  font-weight: 500;
  font-size: 15px;
  color: white;
  position: relative;
  top: 50px;
}

.tooltip {
  background-color: white;
  padding: 5px;
  border: none;
  outline: none;
  color: black;
}
