.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5rem;
}

.body {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 100%;
}

.leftCol {
  height: 100%;
}

.rightCol {
}

.stats {
  display: flex;
  justify-content: space-between;
}
