.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header h1 {
  font-weight: 600;
  font-size: 48px;
}

.name {
  color: var(--primary);
}

.header h3 {
  font-weight: 600;
  font-size: 18px;
}
