:root {
  --primary: #ff0101;
  --primary-dark: #820000;
  --red: #fbeaea;
  --blue: #e9f4fb;
  --yellow: #fbf6e5;
  --pink: #fbeaef;
  --bg-light: #fbfbfb;
  --grey: #c4c4c480;
  --dark-grey: #282d30;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h3,
p {
  margin: 0;
}
