:root {
  --primary: #ff0101;
  --blue: #4ab8ff;
  --yellow: #fdcc0c;
  --pink: #fd5181;
  --bg-light: #fbfbfb;
  --grey: #c4c4c480;
  --dark-grey: #282d30;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
